numpy>=1.19.2
opencv-python>=4.1.2.30
matplotlib>=3.4.3
scipy>=1.5.3
gym>=0.26.2
gym-collision-avoidance>=0.0.3
PyQt5>=5.15.1
cvxpy>=1.1.6
mosek>=10.1.31
pandas>=1.2.0
ffmpeg-python>=0.2.0
pillow>=8.0.0
scipy>= 1.17.1